
body{
  font-size: 14rem;
}

#cabecalho{
  position: relative;
  top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.avatar{
  margin-bottom: 20px;
  border: 1px solid #72757e;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #E5E5E5;
  width: 150px;
  height: 150px;
}

#nome{
  color: #7F5AF0;
  font-size: 3rem;
}

#cargo{
  font-size: 1.2rem;
}

.wrapper{
  width: 100%;
  height: auto;
}

.wrapper button{
  margin: 10px;
}

.wrapper mat-icon{
  margin: 5px;
}

.wrapper button{
  outline: 2px solid #E5E5E5;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: .25s;
}

.wrapper button:hover{
  outline-offset: 4px;
}

.wrapper button:hover mat-icon{
  animation: shake .25s;
}

.wrapper #instagram:hover{
  background-image: radial-gradient(circle at 30% 107%,
  #fdf497 0%, #fdf497 5%,
  #fd5949 45%,#d5249f 60%,
  #285AEB 90%);
  outline-color: #a02d76;
}

.wrapper #linkedin:hover{
  background-color: #0077b5;
  outline-color: #0077b5;
}

.wrapper #github:hover{
  background-color: #2ea44f;
  outline-color: #2ea44f;
}

.wrapper button:hover{
  background-color: transparent;
  outline-color: #E5E5E5;
}

@keyframes shake{
  10%{transform: rotate(15deg);}
  20%{transform: rotate(-15deg);}
  30%{transform: rotate(15deg);}
  40%{transform: rotate(-15deg);}
}

@media screen and (max-width: 320px) {
  .avatar{
    width: 110px;
    height: 110px;
  }
  .wrapper{
    max-width: 400px;
    flex-direction: column;
  }
}

@media screen and (min-width: 2560px) {
  .avatar{
    width: 180px;
    height: 180px;
  }
}
