
<div *ngIf="isMaintenance; else templateManutencao">
  <app-started-bg></app-started-bg>
  <div class="container">
    <app-header id="header-section"></app-header>
    <app-sobre id="sobre-section"></app-sobre>
    <app-habilidades id="habilidades-section"></app-habilidades>
    <app-experiencia id="experiencia-section"></app-experiencia>
    <app-historico-educacional></app-historico-educacional>
    <app-portifolio></app-portifolio>
  </div>
</div>
<ng-template #templateManutencao>
  <app-manutencao></app-manutencao>
</ng-template>
