<div class="section">
  <div class="info-list">
    <ul>
      <li><span class="idade">Idade:</span><span>{{ idade }} anos</span></li>
      <li><span class="trabalho">Trabalho:</span><span>{{ trabalho }}</span></li>
      <li><span class="ondeMora">Onde mora:</span><span>{{ ondeMora }}</span></li>
      <li><span class="email">E-mail:</span><span>{{ email }}</span></li>
    </ul>
  </div>
  <div class="mensagem">
    <h2>{{ mesagemTitulo }}</h2>
    <div class="informacoes">{{ mensagem }}</div>
    <div class="botoes">
      <button mat-button>Contate-me</button>
    </div>
  </div>
</div>
