
ul{
  margin: 0;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 25px;
}

li{
  list-style: none;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-bottom-color: #72757e;
  padding-top: 12px;
  padding-bottom: 12px;
}

.divSobre{
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
  justify-content: center;
}

.principal{
  position: relative;
  width: 83%;
  border: #010101 solid 1px;
}

.info-list{
  position: relative;
  width: 40%;
  text-align: start;
  padding-left: 0;
  margin-left: 0;
}

.mensagem{
  position: relative;
  padding-left: 40px;
  padding-top: 50px;
  padding-bottom: 25px;
  width: 53%;
  text-align: justify;
}

.idade{
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  background-color: #7F5AF0;
}

.trabalho{
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  background-color: #7F5AF0;
}

.ondeMora{
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  background-color: #7F5AF0;
}

.email{
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  background-color: #7F5AF0;
}

.botoes{
  margin-top: 20px;
}

.botoes button:hover{
  background-color: #7F5AF0;
}

.botoes button:active{
  background-color: #72757e;
}

.botoes button{
  outline: 1px solid #E5E5E5;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: .25s;
}

.botoes button:hover{
  outline-offset: 2px;
  animation: shake .25s;
}

@keyframes shake{
  10%{transform: rotate(2deg);}
  20%{transform: rotate(-2deg);}
  30%{transform: rotate(2deg);}
  40%{transform: rotate(-2deg);}
}

@media (max-width: 480px) {
  .divSobre{
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    justify-content: center;
  }

  .principal{
    display: flex;
    flex-flow: row wrap;
    width: 83%;
    border: #010101 solid 1px;
  }

  .info-list{
    width: 80%;
  }

  .mensagem{
    position: relative;
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 25px;
    width: 80%;
    text-align: justify;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .divSobre{
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    justify-content: center;
  }

  .principal{
    display: flex;
    flex-flow: row wrap;
    width: 83%;
    border: #010101 solid 1px;
  }

  .info-list{
    width: 90%;
  }

  .mensagem{
    position: relative;
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 25px;
    width: 90%;
    text-align: justify;
  }
}

@media (min-width: 1200px) {
  .divSobre{
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    justify-content: center;
  }

  .principal{
    display: flex;
    flex-flow: row wrap;
    width: 83%;
    border: #010101 solid 1px;
  }

  .info-list{
    width: 40%;
  }

  .mensagem{
    position: relative;
    padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 25px;
    width: 55%;
    text-align: justify;
  }
}
