
li{
  list-style: none;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-bottom-color: #72757e;
  padding-top: 12px;
  padding-bottom: 12px;
}

.realca{
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #7F5AF0;
}

.section{
  display: grid;
  grid-template-columns: repeat(2, 40% [col-start]);
  justify-content: center;
  text-align: justify;
}

li{
  display: grid;
  grid-template-columns: repeat(2, 42% [col-start]);
  text-align: justify;
}

.idade{}

.trabalho{}

.ondeMora{}

.email{}

.mensagem{
  margin-left: 20px;
}

.botoes{
  margin-top: 20px;
}

.botoes button:hover{
  background-color: #7F5AF0;
}

.botoes button:active{
  background-color: #72757e;
}

.botoes button{
  outline: 1px solid #E5E5E5;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: .25s;
}

.botoes button:hover{
  outline-offset: 2px;
  animation: shake .25s;
}

@keyframes shake{
  10%{transform: rotate(2deg);}
  20%{transform: rotate(-2deg);}
  30%{transform: rotate(2deg);}
  40%{transform: rotate(-2deg);}
}

@media screen and (max-width: 320px) {
  .section{
    display: grid;
    grid-template-columns: repeat(1, 50% [col-start]);
    justify-content: center;
    text-align: justify;
  }
}

@media screen and (min-width: 2560px) {
  .section{
    display: grid;
    grid-template-columns: repeat(2, 40% [col-start]);
    justify-content: center;
    text-align: justify;
  }
}
